.fancard_part {
    width: 100%;
    height: auto;
}
.big_fancard {
    width: 100%;
    height: 323px;
    background: url(https://www.fcseoul.com/resources/front/images/sub/common/img_top7.jpg);
    position: relative;
}
.fancard_title {
    color: #fff;
    text-align: center;
    line-height: 263px;
    font-size: 56px;
    font-weight: 900;
}
.fancard_nav {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(199, 1, 1, 0.9);
}
.fancard_nav > .w_1200 > ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.fancard_nav > .w_1200 > ul > li {position: relative;}
.fancard_nav > .w_1200 > ul > li > a {
    padding: 22px 20px 20px 20px;
    box-sizing: border-box;
    border: 1px #d43e3e solid;
    border-top: none;
    border-bottom: none;
}
.click_li {
    width: 240px;
    height: 100%;
    border-right: 1px #d43e3e solid;
    line-height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}
.click_li > img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.click_li > ul {
    width: 240px;
    height: 60px;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    z-index: 999;
}
.click_li > ul > li {
    width: 100%;
    height: 60px;
    color: #888;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
.click_li > ul > li > img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding-right: 20px;
    box-sizing: border-box;
    display: none;
}
.click_li > ul > li:hover{
    background: #c70101;
    color: #fff;
}
.main_T {
    width: 100%;
}
.main_T_left {
    width: 100%;
    height: 137px;
    border-bottom: 1px #ddd solid;
    position: relative;
}
.main_T_left > ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}
.main_T_left > ul > li {
    color: #666;
    font-size: 17px;
}
.share_img {
    position: absolute;
    left: 73px;
    top: 59px;
}
.main_T_center > h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    color: #222;
}
.main_T_right {
    width: 78px;
    height: 28px;
    border: 1px #666 solid;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
.fancard_banner {
    margin-top: 50px;
}